extends layout.pug

block content
  .container
    table.table.table-striped
      tr
        th No
        th File Name
        th Action
      each file, index in files
        tr
          td=index+1
          td=file 
          td
            div.center
              a.btn.btn-primary(href =`/download/${file}`) Download